<%= simple_form_for @bag do |f| %>
  <p>
    <%= f.input :title %>
    <%= f.input :brand %>
  </p>
  
  <h3>Add a club to your bag while you're at it: </h3>
  <p>
  <%= f.simple_fields_for :clubs_attributes do |cf| %>
    <%= cf.input :name %>
    <%= cf.input :brand %>
  <% end %>
  </p>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %> 
      Create Course 
    <% end %>
  <% end %> 
