<div class="container-fluid">
   <%= simple_form_for @course do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :par %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %> Create Course <% end %>
  <% end %>
</div>