<div class="container-fluid">
  <h1><%= @course.name %></h1>
  <br>
  <h2><%= @course.location %></h2>
  <h2>Par <%= @course.par %></h2>
  <br>
  <%= link_to "Add a Round for this Course", new_course_round %>
  <%= link_to "See Your Courses", courses_path %>
</div>